@import "semantic";
@import "github-gist";
@import "pod-styles";

body {
  background-color: #fcfcfc;
  padding-bottom: 30px;
}

.overview {
  font-size: 2.8em;
}

p {
  font-size: 1.15em;
  line-height: 1.6em;
  color: #444;
}

ul, ol {
  font-size: 1.2em;
  line-height: 1.8em;
}

blockquote {
  font-size: 2.0em;
  line-height: 1.2em;
}

a {
  color:#5eb1bf;
  &:hover {
    color:#5eb1bf;
    text-decoration: underline;
  }
}

img.centered {
  width:75%;
  margin:0 auto;
  display:block;
}

a:hover > h1.ui.header.logo {
  text-decoration: none;
}
a > h1.ui.header.logo {
  margin: 30px 0;
  &:hover {
    color:#5eb1bf;
    text-decoration: none;
  }

}

h1.ui.header.blog-title {
  color: #fd823c;
  text-decoration: none;
  margin-bottom: 0;
}

.avatar-img {
  margin: 0 auto;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	background: url('images/headshot.png') no-repeat;
  background-size:cover;
  margin-bottom: 5px;
}

.avatar {
  margin-top: -10px;
  float: right;


  a {
    display: block;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    &:hover {
      color:#5eb1bf;
      text-decoration: underline;
    }
  }
}


.blog-post-meta {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
  color: #999;
  list-style: none;

  .meta-item {
    display: inline;
    padding-right: 20px;
  }

  .author-avatar {
    vertical-align: top;
    border-radius: 3px;
  }
}
