<h1>embrails</h1>
<h4>ember / rails / postgres blog by Bradley Wittenbrook</h4>

<p>Welcome to embrails, the first ever live blog for developing a Ruby on Rails backed ember.js application. Throughout the next few months we will be working on taking a vanilla rails 5.0 install to a full blown ember.js blogging platform, and you will be part of the journey.</p>

<h2>Posts</h2>

<ul>
  <li>
    {{#link-to 'posts.smoldering-coals'}}
      v0.2 - Smoldering coals
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'posts.hello-world'}}
      v0.1 - Hello, World!
    {{/link-to}}
  </li>
</ul>
