<h1 class="blog-title ui header">Welcome to embrails</h1>

<p>The first ever live blog for developing a Ruby on Rails backed ember.js application. Throughout the next few months we will be working on taking a vanilla rails 5.0 install to a full blown ember.js blogging platform, and you will be part of the journey.</p>

<h2>Posts</h2>

<ul>
  <li>
    {{#link-to 'posts.semantic-styles'}}
      v0.3 - Semantic styles
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'posts.smoldering-coals'}}
      v0.2 - Smoldering coals
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'posts.hello-world'}}
      v0.1 - Hello, World!
    {{/link-to}}
  </li>
</ul>
